body 
{ 
	font-family: Verdana 
}

#container 
{ 
	width:980px; 
	margin: 20px auto;
}

th, td, p
{ 
	padding: 4px; 
}

h2 
{ 
	padding: 5px; 
	padding-top: 0; 
	font-weight: bold; 
    font-size: 150%; 
    border-bottom: 2px solid gray; 
 }
     
table.navigation 
{ 
	margin-bottom: 10px; 
	background: #eee;
	width: 100%;
}
	
table.navigation td 
{ 
	font-weight: bold;
	width: 100px;
}

table.navigation a 
{ 
	color: #444; 
}

#content 
{ 
	padding: .9em; 
}

table.grid 
{ 
	border-collapse: collapse; 
	width: 100%; 
	margin-bottom: 10px;
} 

table.grid td, table.grid th 
{ 
	border-bottom: 1px dotted gray; 
}

.message
{
	color: Green;
	padding: 10px 0px;
}

.error
{
	color: red;
	padding: 10px 0px;
}

.text-upper 
{
        text-transform: uppercase;
}

.text-lower 
{
        text-transform: lowercase;
}

.field-validation-error { color: red; }
.input-validation-error { border: 1px solid red; background-color: #ffeeee; }
.validation-summary-errors { font-weight: bold; color: red; }

input[readonly]
{
    background-color: #eee;
}