/*   

Jumblist styles

*/

/****************************
 **   General
 ****************************/

html
{
	height: 101%;
}

body 
{
	background-color:#fff;
	color: #000;	
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 123.1%;
}

a 
{
	text-decoration: none;
	color: #927B51;
}

a:hover
{
	text-decoration: underline;
	color: #927B51;
}

img 
{
	border: 0px;
}

td
{
  vertical-align: top;
}

.bold
{
    font-weight: bold;
}

.red, .red a
{
    color: red;
}

div
{
	border: 0px solid black;
}


/****************************
 ** Layout *
 ****************************/

#header
{
	background: #927B51;
	color: #fff;
}

#header #header-interior
{
	margin: 0px auto;
	padding: 20px 0px 10px 0px;
	width: 980px;
}

#header-interior #logo
{
	font-size: 180%;
}

#header-interior #basket
{
	float: right;
}

#header-interior #menu
{
	padding-top: 10px;
}

#header-interior a
{
	color: #fff;
}

#container 
{
	margin: 10px auto;
	padding: 10px;
	width: 980px;
	overflow: hidden;
}

#container #container-left
{
	width: 760px;
	float: left;

}

#container #container-right
{
	width: 200px;
	float: left;
	margin-left: 20px;
}

#footer
{
	clear: left;
	background: #BCDD5A;
	height: 130px;
}

#footer #footer-interior
{
	margin: 0px auto;
	padding: 20px;
	width: 980px;
}


/****************************
 ** Styles *
 ****************************/
 
table.list
{
	font-size: 80%;
	width: 100%;
}

tr.item a 
{
	display: block;
}

tr.item a.selected 
{
	background-color: #666;
	color: #fff;
}

tr.item a:hover 
{
	background-color: #666;
	color: #fff;
}

tr.item a.selected:hover 
{
	background-color: #666;
	color: #fff;
}