<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Jumblist.LinqToSqlDataProvider.Properties.Settings.JumblistDatabaseConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Projects\Websites\FreecycleHack\Site\Jumblist.Mvc\App_Data\JumblistDatabase.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>