/*   

Jumblist styles

*/

/****************************
 **   General
 ****************************/

html
{
	height: 101%;
}

body 
{
	background-color:#fff;
	color: #000;	
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 123.1%;
}

a 
{
	text-decoration: none;
	color: #927B51;
}

a:hover
{
	text-decoration: underline;
	color: #927B51;
}

img 
{
	border: 0px;
}

td
{
  vertical-align: top;
  padding: 2px;
}

.bold
{
    font-weight: bold;
}

.red, .red a
{
    color: red;
}

div
{
	border: 0px solid black;
}

h2
{
	font-size: 130%;
	font-weight: bold;
}

fieldset *
{
	padding: 5px;
}

p
{
	margin-bottom: 12px;
}

.message
{
	color: Green;
	padding: 10px 0px;
}

.error
{
	color: red;
	padding: 10px 0px;
}

.text-upper 
{
        text-transform: uppercase;
}

.text-lower 
{
        text-transform: lowercase;
}

.field-validation-error
{
	color: Red;
	font-size: 80%;
}

.searchbox
{
	padding: 60px 120px;
}

/****************************
 ** Layout *
 ****************************/

#header
{
	/*background: #927B51;*/
	color: #000;
}

#header #header-interior
{
	margin: 0px auto;
	padding: 20px 0px 10px 0px;
	width: 980px;
}

#header-interior #logo
{
	font-size: 180%;
}

#header-interior #basket
{
    
}

#header-interior #menu
{
	
}

#header-interior #login
{
    float: right;
}

#header-interior a
{
	color: #000;
}

#container 
{
	margin: 10px auto;
	padding: 10px;
	width: 980px;
	overflow: hidden;
}

#container #container-left
{
	width: 760px;
	float: left;

}

#container #container-right
{
	width: 200px;
	float: left;
	margin-left: 20px;
}

#footer
{
	clear: left;
	/*background: #BCDD5A;*/
	height: 430px;
}

#footer #footer-interior
{
	margin: 0px auto;
	padding: 20px;
	width: 980px;
}


/****************************
 ** Styles *
 ****************************/
 
table.list
{
	font-size: 80%;
	width: 100%;
}

table.list td
{
	padding: 5px;
}

tr.item a 
{
	display: block;
}

tr.item a.selected 
{
	background-color: #666;
	color: #fff;
}

tr.item a:hover 
{
	background-color: #666;
	color: #fff;
}

tr.item a.selected:hover 
{
	background-color: #666;
	color: #fff;
}

.GoogleMap
{
    width: 600px;
    height: 400px;
    border: solid 1px black;
}
.BingMap
{
    width: 600px;
    height: 400px;
    border: solid 1px black;
}