html
{
	height: 100%;
	margin-bottom:1px;
}

body 
{
	margin: 0px auto;
	padding: 0px;
	color: #000;	
	font-family: /*CantarellRegular,*/ Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.2em;	
	text-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px;
	background: #F0F0F0 url(/assets/images/background.jpg) repeat-x scroll center top;
}

a
{
	text-decoration: none;
	color: #436b0c;
	display:inline;
}

a:hover
{
	text-decoration: underline;
	color: #3C7DC4;
}

fieldset, img 
{
	border-width: 0px;
}

fieldset *
{
	padding: 5px;
}

td
{
  vertical-align: top;
  padding: 2px;
}

.red, .red a
{
    color: red;
}

.hide
{
	display: none;
}

.bold
{
	font-weight: bold;
}

div
{
	border: 0px solid black;
}

h1
{

}

h2
{
	font-size: 1.75em;
	margin-bottom: 12px;
}

p
{
	margin-bottom: 12px;
}

.message
{
	border: 1px solid green;
	color: green;
	background-color: #CAF78A;
	margin: 12px 0px;
	padding: 10px;
}

.error
{
	border: 1px solid red;
	color: red;
	background-color: #FDD;
	margin: 12px 0px;
	padding: 10px;
}

.text-upper 
{
	text-transform: uppercase;
}

.text-lower 
{
	text-transform: lowercase;
}

.hidden
{
	visibility:hidden;
}

.highlight 
{ 
	background-color: #ffb; 
}

#skiplink 
{
	display:none;
}

a.icon
{
	margin: 0px 2px;
}

.fadedtext
{
	color: #999;
}

/****************************
 ** Layout *
 ****************************/

#header
{
	width: 100%;
	background-color: #2B2B2B;
}

#header-interior
{
	width: 960px;
	margin: 0px auto;
	padding: 0px;
	overflow: hidden;
	color: #fff;
	font-size: 0.75em;	

}

#loginarea
{
	text-align: right;
	line-height: 2em;
}

#loginarea .logindetails
{
	background-color: #7db72f; 
	padding: 10px 14px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

#loginarea #basket
{
	color: #000;
	background-color: #fff; 
	padding: 10px 14px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;	
	border-bottom-right-radius: 3px;
}

#loginarea .logindetails a
{
	color: #fff;
}

#loginarea a:hover, #container-rightcolumn a:hover
{
	text-decoration: underline;
}

#logo
{
	padding-left: 20px;
	width:300px;
	float:left;
}

#topnavmenu 
{
	font-family: Trebuchet MS Gothic, Helvetica, Arial, sans-serif;
	margin-left: 20px;
	margin-top: 30px;
	font-weight: bold;
	float:right;
}

#system-message
{
	clear:both;
}

#container 
{
	width: 960px;	
	margin: 20px auto;
	padding: 0px;
	overflow: hidden;
}

#container-leftcolumn
{
	width: 680px;
	float: left;
	padding: 20px;
	background-color: #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 10px;	
}

#container-leftcolumn form
{
	margin-top: 30px;
}

#tabs
{
}

#tabs-1
{
}

#tabs-2
{
}

#container-rightcolumn
{
	width: 220px;
	float: left;
	font-size: 0.9em;
	margin-left: 20px;
}

#container-rightcolumn input
{
	width: 91%;
}

#container-rightcolumn input[type="submit"]
{
	width: 99%;
}

#container-rightcolumn select
{
	width: 100%;
}

#container-rightcolumn h3
{
	margin: 10px 0px;
	font-size: 1.25em;
}

#footer
{
	font-size: 0.75em;
	clear: both;
	height: 430px;
	margin: 10px 0px;
	padding: 10px;
}

/****************************
 ** Javascript divs *
 ****************************/

#sendEmailFormDiv
{
	position:absolute; 
	padding: 20px;
	width: 300px;
	height: 160px;
}

#sendEmailFormDiv #messageSendEmailForm
{
	margin: 10px 0px;
}

#sendEmailFormDiv #emailAddress
{
	width:240px;
	margin-bottom: 10px;
}

#sendEmailFormDiv form
{
	display:inline;
}

#pane-welcomemessage
{
	border: 1px solid #aaa;
	background: #CAF78A;
	margin: 20px 0px;
	padding: 12px;
    position: relative;

}

#pane-welcomemessage .hidetext
{
	font-size: 80%;
    position: absolute;
    top: -20px;
    right: 20px;
    cursor: pointer;
}

/****************************
 ** Div styles *
 ****************************/

.homepagesearch
{
	padding: 60px 120px;
}

.widget
{
	padding: 8px 12px;	
	margin-bottom: 12px;
}

.widget-green
{
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	background-color: #7db72f;
	border: 1px solid #ADB85F;
}

.widget-green a
{
	color: #fff;
}

.widget-grey
{
	-moz-border-radius:2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	background-color: #eee;
	border: 5px solid #666;
}

.widget-grey input[type="submit"]
{
	color: #fff;
	border: 1px solid #333;
	background: #7f7f7f;
}

.widget-grey input[type="submit"]:hover
{
	background: #666;
}

.widget-grey a
{
	color: #000;
}

.widget-plain
{
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ADB85F;
}

.widget-socialmedia
{
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	border: 1px solid #05A3FF;
	background-color: #8ED5FF;
}

.join-now
{
	padding-top: 12px;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	color: #e8f0de;
	border: 1px solid #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}

.location-list, .tag-list, .group-list
{
}

.basiclist li
{
	padding-bottom: 6px;
}

.user-alerts, .user-posts
{
	margin-top: 16px;
	width: 80%;
}

.pagerlinks
{
	margin-top: 10px;
}

.pagerlinks span, .pagerlinks a
{
	padding: 0 2px;
}

.pagesizer
{
	margin-top: 10px;
}

.pagesizer a
{
	padding: 0 2px;
}

.facebook-share-button
{
	float: left;
	margin-right: 10px;
	margin-top: -3px;
	padding-top: 0px;
	vertical-align: top;
}

.twitter-share-button
{
	margin-top: 3px;
}

ul.basicmaplist li
{
	margin-bottom: 4px;
}
        
/****************************
 ** Form styles *
 ****************************/

form
{

}

form table td
{
	padding: 2px 8px 8px 0px;
}

form table td.field-helptext
{
	font-size: 0.9em;
}

label
{
	display:block;
}

input, textarea, select
{
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #999;
	padding:6px 10px 2px 6px;
	margin: 0px;
	margin-bottom: 5px;
	font-size: 1em;
	background-color: #fff;
}

select
{
	padding: 6px;
}

input
{
	height:26px;
}

textarea
{
	width: 380px;
	height: 180px;
}

input:focus, textarea:focus, select:focus
{
	background-color: #fafafa;
	border: 1px solid #000;
}

input[type="text"]
{
	width: 380px;
}

input[type="submit"], input[type="button"]
{
	height:36px;
	cursor: pointer;
	padding: 0px 20px;
	margin: 0px;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	color: #e8f0de;
	border: 1px solid #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');

}

input[type="submit"]:hover
{
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}

input[type="submit"]:active
{
	position: relative;
	top: 1px;
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

input[type="radio"]
{
	vertical-align: middle;
	border: 0px;
	padding: 2px;
}

input[type="checkbox"]
{
	border: 0px;
}

input[readonly="true"]
{
	background-color: #eee;
	color: #999;
}

option
{
	padding-bottom: 2px;
}

.field-selected
{
	background-color: #ffe;
}

.field-info, .field-validation-error
{
	font-size: 0.9em;
}

.field-validation-error 
{ 
	color: red; 
}

.input-validation-error 
{ 
	border: 1px solid red; 
	background-color: #ffeeee; 
}

.validation-summary-errors 
{ 
	font-weight: bold; 
	color: red; 
}

.input-left, .input-left:focus
{
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;	
	border-right: 0px;
}

.button-right
{
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius: 0px;	
	border-bottom-left-radius: 0px;
}

.button-submit
{
	margin: 14px 0px;
}

.button-submit a
{
	margin: 0px 10px;
}

.field-label
{
	width: 130px;
}

.field-input
{
	width: 400px;
}

.field-helptext
{
	width: 130px;
}

.form-thin .field-label
{
	width: 180px;
}

.form-thin .field-input
{
	width: 250px;
}

.form-thin .field-helptext
{
	width: 230px;
}

.form-thin input[type="text"], .form-thin input[type="password"]
{
	width: 200px;
}

/****************************
 ** Table styles *
 ****************************/
 
table
{
	width: 100%;
}

th
{
	font-weight: bold;
}

table.post-list td
{
	padding: 8px 8px 8px 0px;
}

tr.post-item
{
	border-bottom: dotted 1px #999;
}

tr.post-item:hover 
{
    background-color: #ffe;
}

td.post-title
{
    cursor: pointer;
}

table.post-detail td
{
	padding: 0px 8px 8px 0px;
}

td.post-tags, td.post-time, td.post-groupuser
{
	font-size:0.75em;
}

/****************************
 ** Post Item *
 ****************************/
 
h2.post-title,  h2.postlist-title
{
	width: 520px;
	float: left;
}
 
.post-functions
{
	float: right;
	padding: 4px 6px 0px;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
	border: 1px solid #ADB85F;	
}

.post-originallink
{
	
}

.post-originallink, .post-views, .post-date
{
	padding: 4px 0px;
}

.post-bodytext
{
	padding: 20px 0px;
}


/****************************
 ** Post list *
 ****************************/

#postlist-header-icons
{
	float:right;
}

#postlist-header-icons .icons-title
{
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;	
	color: #fff;	
	background-color:Red;
	border: 1px solid red;
	padding: 6px 10px;
}

#postlist-header-icons .icons-title a
{
	color: #fff;	
}

#postlist-header-icons .icons
{
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;	
	border: 1px solid red;
	padding: 6px 10px;
}

#postlist-header-icons .icons img
{
	vertical-align: top;
}

/****************************
 ** Search *
 ****************************/

#home-search-control
{
	margin: 50px auto 30px;
	width: 42%;
}

table.home-searchcriteria-tag, table.home-searchcriteria-taglocation
{
	margin: 0px;

}

table.home-searchcriteria-tag input[type="text"], table.home-searchcriteria-taglocation input[type="text"]
{
	width: 250px;
}

table.home-searchcriteria-tag td
{
	padding: 0px;
}

table.home-searchcriteria-taglocation td
{
	padding: 4px;
}

.home-searchlocation
{
	margin-top: 20px;
	text-align: center;
}

fieldset.home-searchcategory
{
	margin-top: 20px;
	margin-left: 4px;	
	border: 0px;
	text-align: center;	
}

fieldset.home-searchcategory legend
{
	display: none;
}

fieldset.home-searchcategory label
{
	display: inline;
	margin: 0px;
	padding: 0px;
	margin-right: 10px;
}

/****************************
 ** Mapping *
 ****************************/
 
#divmap
{
	margin: 0px 0px 12px;
    width: 680px;
    height: 400px;
    border: dotted 1px #999;	
    border-top: 0px;
}
 
.GoogleMap
{

}

.BingMap
{

}

/****************************
 ** Inline editing *
 ****************************/
 
.editable, textarea
{
	background-color: #ffffd3;
}

img.progress
{
	vertical-align: middle;
	padding: 0 10px;
}



/****************************
 ** topnavmenu *
 ****************************/

#topnavmenu ul 
{
	margin: auto;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#topnavmenu li 
{
	float: left;
	margin-left: 18px;
}

#topnavmenu a 
{
	display: block;
	padding: 0px 14px;
	line-height: 2.2em;
	text-decoration: none;
	color: #fff;
}

#topnavmenu li.current-page a, 
#topnavmenu a:hover 
{
	color: #2B2B2B;
}

#topnavmenu li.current-page,
#topnavmenu li:hover
{
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

#topnavmenu li.current-page
{
	background-color: #fff;
}

#topnavmenu li:hover
{
	background-color: #444;
}

#topnavmenu li:hover a
{
	color: #fff;
}

/** First level nav **/

#topnavmenu li:hover ul
{
	display: block;
}

#topnavmenu li ul
{
	position: absolute;
	display: none;
	margin: 0;
	background-color: #444;
}

#topnavmenu li li 
{
	float:none;
	margin: 0;
}

#topnavmenu li li a 
{
	color: #fff;
	font-size: 0.8em;
	padding: 0 14px;
}

#topnavmenu li li:hover 
{

}

/** Second level nav **/

#topnavmenu li ul ul 
{
	margin: -1.5em 0 0 157px;
}

#topnavmenu li:hover ul ul 
{
  display:none;
}

#topnavmenu li li:hover ul
{
  display: block;
}


/****************************
 ** Tabs *
 ****************************/
		
ul.tabNavigation 
{
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: dotted 1px #999;
}

ul.tabNavigation li 
{
    display: inline;
}

ul.tabNavigation li a 
{
	-moz-border-radius-topright:2px;
	-webkit-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
	-moz-border-radius-topleft:2px;
	-webkit-border-top-left-radius: 2px;
	border-top-left-radius: 2px;	
    background-color: #7db72f;
    color: #666;
    text-decoration: none;
  
}

ul.tabNavigation li.ui-tabs-selected a, ul.tabNavigation li.ui-tabs-selected a:hover
{
    background-color: #CAF78A;
    color: #000;
}

ul.tabNavigation li a:hover 
{
    background-color: #444;
    color: #fff;

}

ul.tabNavigation li a:focus 
{
	outline: 0;
}        

/****************************
 ** Color *
Green: #436b0c, #7db72f, #ADB85F, #CAF78A
****************************/
 
