Here is the contents of your basket
---
Items:
#foreach($item in $basket.Items)
	<a href="$homeurl$item.LinkbackUrl">$item.Title</a>    
#end
---
Ship to:
$user.Name
$user.Email
$user.Postcode
---