#parse("Shared/HtmlHeader.vm")

<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Hi $userAlert.User.Name</font></p>

<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Here is your latest alert - $userAlert.Name.</font></p>

<p style="margin-left: 4px;">
<font face="Verdana, Arial, Helvetica, sans-serif" size="2"><strong>Posts:</strong></font>
</p>

<table cellpadding="4">
#foreach($post in $postList)
	<tr>
		<td valign="top"><a href="$homeurl$post.LinkbackUrl" style="text-decoration:none;"><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#436b0c">$post.Title</font></a></td>
		<td valign="top"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">$post.PublishDateTime</font></td>		
	</tr>		 
#end
</table>

<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">
<strong>Sent to:</strong><br/>
$userAlert.User.Name<br/>
$userAlert.User.Email<br/>
$userAlert.User.Postcode<br/>
</font></p>

#parse("Shared/HtmlFooter.vm")