#parse("Shared/HtmlHeader.vm")

<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Hi $user.Name</font></p>

<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Your password has been reset.</font></p>

<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">
<strong>Login details</strong><br/>
Name: $user.Name<br/>
Email: $user.Email<br/>
Password: $password<br/>
</font></p>

<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><a href="$linkBack" style="text-decoration:none;"><font color="#436b0c">Please click on this link to login with your new password</font></a></font></p>

#parse("Shared/HtmlFooter.vm")